# Compilación y dependencias
bin/
obj/
*.dll
*.exe
*.pdb

# Configuración de usuario
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Archivos de paquete
*.nupkg
*.snupkg
.nuget/

# Logs
*.log

# Configuración de sistema operativo
.DS_Store
Thumbs.db

# Configuración de IDEs
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
.idea/
*.sublime-workspace
*.vscode/

# Otros
*.tmp
*.bak
*.backup
